{% extends 'base.html' %}

{% block title %}Запись на тур{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="display-5 my-4 text-white">Запись на тур</h2>
        <div class="card mx-auto" style="max-width: 40rem">
            <form method="post">
                {% csrf_token %}
                <div class="card-body">
                    {{ form.as_p }}
                </div>
                <div class="card-footer">
                    <div class="hstack">
                        <span class="text-danger">{{ errors }}</span>
                        <button type="submit" class="btn btn-success ms-auto">Записаться</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}